# NYC weather data using NOAA API

In [4]:
# import libraries
import pandas as pd 
import numpy as np
import os 
import requests
import json
from datetime import datetime
import shutil # To export all files into a single csv folder
import matplotlib.pyplot as plt

In [5]:
# NOAA Token and Station ID
Token = 'hyZLaVsWXkBoTHhTXSkGoXXwQHTtemLV'
station_id = 'GHCND:USW00014732'

# API Request
url = 'https://www.ncdc.noaa.gov/cdo-web/api/v2/data'
headers = {'token': Token}
params = {
    'datasetid': 'GHCND',
    'datatypeid': 'TAVG',
    'stationid': station_id,
    'startdate': '2023-01-01',
    'enddate': '2023-12-31',
    'limit': 1000,
    'units': 'metric'
}

response = requests.get(url, headers=headers, params=params)

# Parse JSON
data = response.json()
results = data['results']

# Create DataFrame
dates = [item['date'] for item in results]
temps = [item['value'] for item in results]

df_temp = pd.DataFrame({
    'date': pd.to_datetime(dates),
    'avgTemp': temps
})

# Save to CSV
df_temp.to_csv('nyc_weather_2023.csv', index=False)

print("Weather data saved successfully!")

Weather data saved successfully!

In [6]:
df_temp.tail()

          date  avgTemp
360 2023-12-27      6.7
361 2023-12-28      9.5
362 2023-12-29      9.8
363 2023-12-30      7.2
364 2023-12-31      5.4

In [7]:
df_temp.dtypes

date       datetime64[ns]
avgTemp           float64
dtype: object